<h2>Band Together!</h2>

<p>Keep a record of your favorite bands...</p>

<form action="/bands" method="post">
  <label for="name">Band name</label>
  <input type="text" name="name">
  <button type="submit" class="btn btn-md btn-success">Who's Next?</button>
</form>

<hr>

<h4>Don't You--Forget About Me!</h4>

<% @bands.each() do |band| %>
<ul>
  <li><%= band.name() %> <a class="label label-as-badge label-info" href="/band/<%= band.id %>">
    <%= band.venues.length() %> venues</a> </li>
</ul>
<% end %>

<br>
<img src="God_Gave_Rock.jpg" alt="God Gave Rock and Roll To You."/>
<p class="caption">Image courtesy of "algreen" on deviantART</p>
